@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body,
#root{
  height: 100%;
  background-color: rgb(0, 0, 0);
  color-scheme: dark;
  /* overflow: hidden; */
}

::-webkit-scrollbar {
  width: 8px; /* Customize the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, black, #3f3f3f); /* The track's background */
}

::-webkit-scrollbar-thumb {
  background: #3c3c3c; /* The color of the thumb */
  /* background: #6b7280; */
  border-radius: 4px; /* Rounded corners for that extra swag */
}
