@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body,
#root{
  height: 100%;
  background-color: rgb(0, 0, 0);
  color-scheme: dark;
  user-select: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, black, #3f3f3f);
}

::-webkit-scrollbar-thumb {
  background: #3c3c3c;
  border-radius: 4px;
}
